<!DOCTYPE html>
<html>
	<head>
  		<title>Heinsenblog</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>

	
	<body>
		<header>
			<div class="container header">
				<div class="row">
					<div class= "span12">
						<h1>I AM THE ONE WHO KNOCKS</h1>
					</div>
				</div>
				<div class="row">
					<div class="span5">
						<h2>A blog by <strike>Walter White</strike> Heinsenberg </h2>
					</div>
					<div class="span6">
						<% if user_signed_in? %>
								<ul>
									<li>Logado como "<%= current_user.email %>"</li>
									<li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
					        	</ul> 	
					      	<% else %>

					      <% end %>
					</div>
				</div>
				<div class= "span12">
		 			<p class="notice"><%= notice %></p>
		 		<!--<p class="alert"><%= alert %></p>-->
		 		</div>

		 	</div>
		 </header>	

		 <nav>
		 	<div class="container">
		 		<div class="row">
			 		<div class="span12">
						 <ul>
						 	<li>
						 		<%=link_to "New Post", new_post_path %>
						 	</li>
					      	<li><%= link_to "Login", new_user_session_path %></li>
					      	<li><%= link_to "Sign up", new_user_registration_path %></li>
					     </ul>
					</div>
				</div>
			 </div>
		</nav>

	 	<div class="superbody">
		 	<div class="container body">		 		
		 		<div class= "span8">
					<%= yield %>
				</div>

				<div class= "span2 offset1">
					<div class="about">
						<h2>About me</h2>
						<div class="inabout">
							<%= image_tag "avatar.png" %>
							<p>You clearly don't know who you're talking to, so let me clue you in: I am not in danger, Skyler. I am the danger. A guy opens his door and gets shot, and you think that of me? No! I am the one who knocks! </p>
						</div>
					</div>
				</div>
			</div>
		</div>


	


		<footer>
			<div class="container footer">
				<div class="span12">
					<p>Desenvolvido em 2012 por Igor Marques com o auxílio de Lucas Bibiano.</br> 2012 © 4Soft</p>	
				</div>
			</div>
		</footer>


	</body>	

</html>
 