<!DOCTYPE html>
<html>
	<head>
  		<title>Heinsenblog</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>

	
	<body>
		<header>
			<div class="container header">
				<div class= "span8">
					<h1>I am the One Who Knocks</h1>
					<h2>A blog by <strike>Walter White</strike> Heinsenberg </h2>
				</div>
				<div class="offset5 span4">
					<% if user_signed_in? %>
							<ul>
								<li>Logado como "<%= current_user.email %>"</li>
								<li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
				        	</ul> 	
				      	<% else %>
				      		<ul>
				      			<li><%= link_to "Login", new_user_session_path %></li>
				      			<li><%= link_to "Sign up", new_user_registration_path %></li>
				      		</ul>
				      	<% end %>
				</div>
				<div class= "span12">
		 			<p class="notice"><%= notice %></p>
		 		<!--<p class="alert"><%= alert %></p>-->
		 		</div>
		 	</div>
	 	</header>	

	 	<div class="container body">
			<%= yield %>
		</div>

	


		<footer>
			<div class="container footer">
				<div class="span12">
					<p>Desenvolvido em 2012 por Igor Marques com o auxílio de Lucas Bibiano.</br> 2012 © 4Soft</p>	
				</div>
			</div>
		</footer>


	</body>	

</html>
 